#body{
    background-image: url("media/bg.png");
    background-repeat: no-repeat;
  background-size: 1536px 861px;
}


#wrapper{
    width: 700px;
    height: auto;
    margin: 0 auto;
    margin-top: 100px;
    padding: 10px;
    background-color: #1e1e1e;
    opacity: 0.6;
}

.searchFieldContainer{
    width: -15px;
    height: 80px;
    display: flex;
    margin: 15px;

    padding-left: 20px;

    background-color: #6a6a6a;
    outline: solid 3px #6a6a6a;
}

.searchField{
    all: unset;
    width: 100%;
    display: block;
    margin : 0 auto;

    background-color: none;
}

.folerContainer{
    height: 50px;
    display: flex;
    margin: 15px;

    line-height: 50px;
    padding-left: 20px;
    background-color: #6a6a6a;
    outline: solid 3px #6a6a6a;
}

.searchFieldContainer:hover,
.folerContainer:hover{
    outline-color: #0089f2;
}

.text,
a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
}